# Function dependencies, for example:
# package>=version
pyyaml>=5.4
neo4j>=4.4.1
neobolt>=1.7.17
google-cloud-storage>=1.15.0
google-cloud-pubsub>=0.40.0
google-cloud-logging>=3.0.0
urllib3>=1.26.5
trellisdata>=0.1.26
